.info__container{
    margin-top: 30px;
    margin-left: 35px;
    flex-wrap: wrap;
}

.header__container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.container1{
    flex: 1;
}

.container2{
    flex: 1;
}

.buttons__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}